/* =============================================================================
   Colors
   ========================================================================== */  

$light-grey: #cbcbcb;
$dark-grey: #222;

/* ==========================================================================
   Imports
   ========================================================================== */
 
@import "normalize.scss";
@import "bourbon/bourbon";
@import "grid-settings";
@import "neat/neat";

/* =============================================================================
   Fonts
   ========================================================================== */  

@font-face {
    font-family: 'Chattype-Light';
    src: url('../fonts/chatype-thin/chatypethin-webfont.eot');
    src: url('../fonts/chatype-thin/chatypethin-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/chatype-thin/chatypethin-webfont.woff') format('woff'),
         url('../fonts/chatype-thin/chatypethin-webfont.ttf') format('truetype'),
         url('../fonts/chatype-thin/chatypethin-webfont.svg#chatype_thinthin') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* ==========================================================================
   Main Styles
   ========================================================================== */

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

*:focus {
  outline: 0;
}

::-moz-selection { background:$dark-grey; color: #fff; text-shadow: none; }
::selection { background:$dark-grey; color: #fff; text-shadow: none; }

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body, button {
  font-family: 'Chattype-Light', helvetica, arial, sans-serif; 
  font-size: 16px; 
  line-height: 1.55;
  color: $dark-grey;

  @include media($medium) {
    font-size: 17px;
  }

}

h1 {
  margin: 0;
  padding: 0;
}

header {
  height: 7.5em;
  padding: 2.25em 0 0 0;
  background-color: #fff;
  @include outer-container;

  h1 {
    display: none;
    display: block;
    font-size: 2em;
    line-height: 1;
    @include span-columns(6);

    @include media($medium) {
      font-size: 2.75em;
    }
  }

  nav {
    position: relative;
    z-index: 1;
    @include span-columns(6);

    button {
      float: right;
      margin: 0 0 .85em .85em;
      padding: .5em .5em .5em .5em;
      border: none;
      background-color: $light-grey;
      @include transition (all .3s ease-in-out);
    }

    button:hover {
      color: #fff;
      background-color: $dark-grey;
    }

  }

}

/* ==========================================================================
   Map Styles
   ========================================================================== */

.map-wraper {
  position: absolute;
  margin-top: 7.5em;
  top: 0;
  right: 0;
  bottom: 0;
  left:0;
  clear: both;
}

#map-canvas, #map_canvas {
  height: 100%;
}