$visual-grid: false;
$visual-grid-index: front;
$visual-grid-color: $light;
$visual-grid-opacity: 0.3;

$column: golden-ratio(1em, 3);
$gutter: golden-ratio(1em, 1);
$grid-columns: 12;
$max-width: 100%;

$small: new-breakpoint(min-width em(600, 16) 12);
$medium: new-breakpoint(min-width em(900, 17) 12);
$large: new-breakpoint(min-width 1200px 12);