// Colors
$light-grey: #cbcbcb;
$dark-grey: #161616;
$accent-color: #00c300;

// Typography
$primary-font: 'Ubuntu', helvetica, arial, sans-serif;

//Layout
$header-height-small: 4em;
$header-height-large: 6em;