// Colors
$light: #cbcbcb;
$dark: #161616;
$accent-color: #48a770;

// Typography
$primary-font: 'Ubuntu', helvetica, arial, sans-serif;

//Layout
$header-height-small: 4em;
$header-height-large: 4.75em;