header {
  height: $header-height-small;
  @include outer-container;
  @include pad(0 1.2em);

  @include media($small) {
    height: $header-height-large;
  }

  h1 {
    font-size: 1.75em;
    line-height: 1;
    color: $dark;
    margin: 0;
    @extend %vertical-align;
    @include span-columns(9);
  }

  nav {
    position: relative;
    z-index: 1;
    @extend %vertical-align;
    @include span-columns(3);
    @include omega();
    text-align: right;

    a {
      font-size: 1em;
      padding: .3em .85em;
      border: solid 1px $light;
      border-radius: 2px;

      &:hover {
        border-color: $accent-color;
      }

    }

  }

}