header {
  height: $header-height-small;
  @include outer-container;
  @include pad(0 1.2em);

  @include media($small) {
    height: $header-height-large;
  }

  h1 {
    font-size: 1.75em;
    line-height: 1;
    @extend %vertical-align;
    @include span-columns(9);

    @include media($medium) {
      font-size: 2em;
    }

  }

  nav {
    position: relative;
    z-index: 1;
    @extend %vertical-align;
    @include span-columns(3);
    @include omega();

    a {
      float: right;
      margin: 0 0 0 .85em;
      padding: .25em 1em;
      font-size: 1em;
      border: solid 1px $light-grey;

      &:hover {
        border-color: $accent-color;
      }

    }

  }

}