* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

*:focus { outline: 0; }

a { -webkit-tap-highlight-color: rgba($accent-color, .10); }

::-moz-selection { background: $accent-color; color: $dark; text-shadow: none; }
::selection { background: $accent-color; color: $dark; text-shadow: none; }

body {
  font-family: $primary-font;
  font-size: 16px;
  line-height: 1.55;
  color: $dark;

  @include media($medium) {
    font-size: 17px;
  }

}

a {
  color: $accent-color;
  text-decoration: none;
  @include transition (all .2s ease-in-out);
  border-bottom: 1px solid $light;

  &:hover {
    color: $dark;
  }

}