.map-wraper {
  position: absolute;
  margin-top: $header-height-small;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  @include outer-container;

  @include media($small) {
    margin-top: $header-height-large;
  }

}

#map-canvas {
  height: 100%;
  background-color: #e5e3df; //Google Maps default background color
}