.map-wraper nav {
  height: 100%;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch; // adds momentum style scrolling for iOS devices
  @include span-columns(8, block-collapse);
  border-top: solid 1px $light;
  @include transition (all .5s ease);

  @include media($small) {
    @include span-columns(4, block-collapse);
  }

  @include media($medium) {
    @include span-columns(3, block-collapse);
  }

  @include media($large) {
    @include span-columns(2.25, block-collapse);
  }

  > a {
    display: block;
    padding: .65em 0 .5em 1.25em;
    color: $accent-color;
  }

  > a:hover, .selected {
    color: #fff;
    background-color: $accent-color;
  }

  section {
    padding: 0 1.25em;
    font-size: .85em;
  }

}

.active-sidebar .map-wraper nav {
  @include shift(-8);

  @include media($small) {
    @include shift(-4);
  }

  @include media($medium) {
    @include shift(-3);
  }

  @include media($large) {
    @include shift(-2.25);
  }

}